main{
    width: 100%;
}
.fotohome{
    border-bottom-right-radius: 35rem;
    width: 50%;
    height: 50%;
}
.inline, .first{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
.middle{
    display: block;
    margin: 1rem 5%;
}
h1{
    font-size: 2vw;
}
.keuze{
    padding: 1vw 3vw;
    background-color: #667DF3;
    border-radius: 2rem;
    box-shadow: 5px 10px 18px rgba(102, 125, 243, 0.5);
}
.keuze:hover{
    text-decoration: underline;
}
.keuzediv{
    display: block;
    margin-top: 2rem;
    width: 35%;
}
.keuzetekst{
    margin: 1.5vw auto;
    width: 90%;
    font-size: 1vw;
}
p{
    margin: 1.5vw auto;
    font-size: 1vw;
}
.projectpart{
    width: 100%;
    background-color: #C3DFFF;
    border-width:5px;
    border-top-style:groove;
    margin-top: 1rem;
    border-bottom-style:groove;
    margin-bottom: 1rem;
}
.projectpart2{
    display: inline-flex;

    justify-content: space-around;
    background-color: #C3DFFF;
}
.pictureproject{
    width: 60%;
    margin-top: 2rem;
}
.project{
    display: flex;
    margin: auto;
}
.pictureprogress{
    display: flex;
    justify-content: center;
}
.projecttekst{
    width: 57%;
}
h2{
    font-size: 2vw;
    margin-left: 5%;
    margin-top: 1rem;
}
.fotoschool{
    float: right;
    width: 55%;
}
ul, li{
    list-style-type: circle;
}
.list{
    margin-left: 6%;
    margin-top: 3%;
}
.h3info, .h3docent{
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 1rem;
}
.pinfo{
    margin-top: 0;
}
.docentinfo{
    width: 100%;
    background-color: #C3DFFF;
    border-width:5px;
    border-top-style:groove;
    margin-top: 3%;
    border-bottom-style:groove;
}
.pinfod{
    text-align: center;
    font-size: 1vw;
}
.leerkracht{
    width: 25%;
}
.h3docent{
    text-align: center;
}