.inline{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
.topfoto{
    width: 85%;
    margin: 0 auto;
}
p{
    width: 75%;
    margin: auto;
}
.toppart{
    display: flex;
}
.fototop{
    display: flex;
    height: 70%;
}
h1{
    font-size: 2vw;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
